/*Специально для тёмной темы при наличии класса*/

:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-bg-color: #ff0070;
  --content-title-color: #ff0070;
  --content-title-color-accent: #000028;
  --text-color: #f1b2ce;
  --button-hover-color: rgb(255 0 112 / 0.4);
  --rec-display: flex;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-cheme: dark) {
  :root {
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --title-color: #db00ff;
    --accent-color: #ff0070;
    --text-bg-color: #ff0070;
    --content-title-color: #ff0070;
    --content-title-color-accent: #000028;
    --text-color: #f1b2ce;
    --button-hover-color: rgb(255 0 112 / 0.4);
    --rec-display: flex;
  }
}
