/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-bg-color: #ff0070;
  --content-title-color: #ff0070;
  --content-title-color-accent: #000028;
  --text-color: #f1b2ce;
  --font-family: "IBM Plex Mono";
  --button-hover-color: rgb(255 0 112 / 0.4);
  --font-weight-normal: 400;
  --font-weight-heading: 700;
  --theme-menu-font-size: 18px;
  --line-height: 23.4px;
  --line-height-title: 96px;
  --text-align: left;
  --theme-menu-gap: 10px;
  --rec-display: flex;
}

